
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a.active {
  color: blue;
}

.boardsSection,
.moodCalendarSection,
.barChartSection {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #ffffff;
  border-radius: 10px;
}


.barChartContainer {
  width: 700px;
  height: 400px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 30px;
 }
