/* //// this file shoud be extracted at all - then delete */

.boardTop {
  align-items: flex-start;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  word-wrap: break-word;
}

.ListItem {
  display: absolute;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  width: 90%;
  border-radius: 10px;
  word-wrap: break-word;
}

.addBoardButton {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  background-color: #f5bbbb;
  color: #333;
  border: 1px solid #ccc;
  width: 10%;
  border-radius: 10px;

  &:disabled {
    background-color: gray;
  }
}


.progressBar {
  background-color: #fb0c0c;
  width: 100%;
  height: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.input {
  inset: none;
  border: none;
  display: flex;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 20px;
  width: 77%;
}
.input:focus {
  outline: none;
  border: 0px solid #ffffff;
}