.boardContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 1px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addBoardButton {
  margin-right: 5px;
  min-width: 100px;
  padding: 5px 5px;
}


.topButton {
  align-self: flex-start;
  margin-bottom: auto;
  min-width: 100px;
  padding: 5px 5px;
}

